doctype
html(lang=config.language)
    head
        include ../partials/head
    body
        header.site-header
            div.container
                include ../partials/nav
        main#content
            div.container
                block content
        footer
            div.container
                block footer
        include ../partials/scripts
