@media screen and (min-width: 700px) {
    .container {
        max-width: 600px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 700px) {
    .container {
        box-sizing: border-box;
        width: 100%;
        padding: 2em 1em;
    }
    header {
        padding: 20px 40px;
        a.logo-link,
        ul.nav.nav-list {
            display: inline-block;
            text-align: center;
        }
    }
    .post-content {
        h2, h3, h4, h5, h6 {
            max-width: 300px;
            left: 15px;
        }
    }
    .ds-thread,
    #disqus_thread {
        margin: 2em 10px;
    }
}
