.post-list {
    .post-list-item {
        padding-bottom: 2rem;
        border-bottom: 1px solid $border-color;
        margin-bottom: 2rem;
    }

    .post-content{
        h2, h3, h4, h5, h6 {
            &:before {
                content: '';
            }
        }

        & > ul {
            list-style: initial;
        }
    }

    .read-more {
        color: $theme-primary;
    }
}
