header {
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 2;

    padding: 0;

    .logo-link, .nav-list, .navl-list-item {
        height: 82px;
        line-height: 82px;
    }

    .logo-link {
        display: inline-block;
        font-size: 1.5em;
        color: #2c3e50;
        font-weight: 500;
        margin: 0 10px;

        img {
            display: inline-block;
            height: 40px;
            width: 40px;
            vertical-align: middle;
        }
    }

    nav.nav-links {
        overflow: hidden;
    }

    ul.nav {
        float: right;
    }

    .nav-list-item {
        display: inline-block;
        padding: 0 10px;

        a {
            line-height: 1.4;
            padding-bottom: 3px;
            color: $body-color;
            text-decoration: none;
        }
    }
}
