@media screen and (min-width: 45rem) {
    .container {
        max-width: 48rem;
        margin: 0 auto;
    }

    #content {
        margin-bottom: 4rem;
    }
}

@media screen and (max-width: 45rem) {
    #content, footer {
        width: 100%;
        padding: 0 1rem;
    }

    header {
        text-align: center;

        a.logo-link,
        ul.nav.nav-list,
        ul.nav.navl-list li {
            float: none;
            display: inline-block;
            text-align: center;
        }
    }


    .post-content {
        h2, h3, h4, h5, h6 {
            max-width: 22.5rem;
            left: 1rem;
        }
    }
}
