mixin postHeader(item, isListItem)
    header.post-header
        unless isListItem
            h1.post-title
                a.post-title-link(href= url_for(item.path))
                    != item.title
        else
            h2.post-title
                a.post-title-link(href= url_for(item.path))
                    != item.title
                    
        span.post-meta
            span.post-time !{date(item.date, 'YYYY-MM-DD')}


mixin post(item)
    .post
        article.post-block
            +postHeader(item)
            .post-content
                != item.content

mixin posts()
    ul.home.post-list
        - page.posts.each(function(item, index) {
            li.post-list-item
                article.post-block
                    +postHeader(item, true)
                        
                    .post-content
                        != item.excerpt
                        
                    a.read-more(href=item.path) ... #{__('continue')}
        - })
