$base-font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', 'Helvetica Neue', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'PingFang SC', 'Hiragino Sans GB', 'Lantinghei SC', 'Microsoft Yahei', 'WenQuanYi Micro Hei', sans-serif;
$monospace-font-family: Menlo, Consolas, 'Ubuntu Mono', 'Courier New', monospace;
$headline-font-family: Kreon, $base-font-family;

$code-signs: ("html", "javascript", "js", "json", "bash", "css", "scss", "less", "python", "ruby", "java", "xml");
