meta(charset="utf-8")
meta(name="X-UA-Compatible", content="IE=edge")

title
    block title
        = config.title
block description
    meta(name="description", content= config.description ? config.description : 'A Blog Powered By Hexo')
meta(name="viewport", content="width=device-width, initial-scale=1")

!=favicon_tag(theme.favicon)

link(rel="canonical", href="#{config.url + '/' + page.path}")

link(rel="stylesheet", href="//#{theme.google_fonts_mirror || 'fonts.googleapis.com'}/css?family=Kreon:400,700")
link(rel="stylesheet", href="//at.alicdn.com/t/font_1451304868_2981977.css")
link(rel="stylesheet", href=url_for("styles/sleepless.css"))

- var domain_list = theme.enforce_ssl_on_domains;

if domain_list
    script.
        if (!{JSON.stringify(domain_list)}.indexOf(window.location.host) >= 0 && window.location.protocol !== 'https:') {
            window.location.protocol = 'https:';
        }
